ion-card {
    border-radius: 10px;
  }
  
  ion-card-title {
    font-size: 1.4em;
    font-weight: bold;
  }
  
  ion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  ion-col {
    flex-grow: 1;
  }
  
  ion-icon {
    margin: 5px 0;
  }
  
  ion-col h4 {
    font-size: 1.2em; 
    font-weight: bold; 
    margin: 0;
  }
  
  ion-col p {
    font-size: 0.9em; 
    margin: 0.2em 0;
    font-weight: normal; 
  }
  
  
  ion-col:nth-child(2) p {
    font-size: 1.1em;
  }
  
  