<ion-content [fullscreen]="true" scroll="false">
  <div class="header">
    <ion-button class="boton-titulo-general" (click)="vueltaAtras()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </div>

  <div class="fondo-login">
    <ion-list>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="text-align: center;">
            <b>¡Registrarse en App de Climas!</b>
          </ion-card-title>
          <ion-card-title class="texto-login">
            Regístrate para acceder al pronóstico actual
          </ion-card-title>

          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="confirmarContrasena" required></ion-input>
          </ion-item>

          <ion-button
            class="ion-padding"
            color="primary"
            expand="full"
            (click)="register(user)"
          >
            Registrarse
          </ion-button>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
